body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}
.navbar {
    background-color: white;
}

.top_nav {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top_nav_left, .top_nav_right {
    padding: 15px;
    color: rgb(91, 105, 135);
    font-weight: bold;
    float: left;
}

.top_nav_left {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* #covid {
    display: none;
} */

.top_nav_left p {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    /* overflow: hidden;*/
    text-overflow: ellipsis;
}

.top_nav_left p:hover, .bottom_nav .links a:hover {
    color: #1575FF;
    transition-duration: .4s;
}

/* @media screen and (max-width: 580px) {
    .top_nav_left p{
        display: none;
    }
    #covid{
        display: inline-block;
    }
} */
.top_nav_left span {
    background-color: #00D7D2;
    padding: 5px 10px;
    border-radius: 3px;
}

.top_nav_right {
    float: right;
}

.top_nav_right a, .bottom_nav .links a {
    text-decoration: none;
    padding-right: 10px;
    color: inherit;
}

.bottom_nav {
    border-top: 1px solid rgba(91, 105, 135, .3);
    height: 70px;
    padding: 20px 10px;
}

.bottom_nav img {
    width: 180px;
}

.bottom_nav .links {
    display: inline-block;
    padding-left: 50px;
}

.bottom_nav .links a {
    font-size: 14px;
    padding-right: 30px;
    color: rgb(3,27,78);
    font-weight: bold;
}

.bottom_nav button {
    float: right;
    background-color: white;
    color: #1575FF;
    border: 1px solid #1575FF;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 25px;
}
.bottom_nav button:hover {
    background-color: #1575FF;
    color: white;
    transition-duration: .7s;
}

#sec_jumbo_form {
    padding: 150px 50px;
    background-color: black;
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 200px;
    position: absolute;
    top: 70px;
    left: 20px;
}
#burger {
    width: 50px;
    position: absolute;
    top: 70px;
    right: 20px;
    color: white;
    cursor: pointer;
}
#logo img, #burger img {
    width: 100%;
}

.jumbo {
    margin-bottom: 50px;
    padding-top: 125px;
}
@media (min-width: 1200px) {
    #sec_jumbo_form {
        padding-top: 250px;
    }
    .jumbo h1 {
        font-size: 65px;
    }
}
@media (max-width: 991px) {
    #sec_jumbo_form {
        padding-top: 30px;
    }
}
.jumbo h1 {
    font-size: 52px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.jumbo p {
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
    line-height: 1.3;
}

#sec_jumbo_form form {
    background-color: white;
    padding: 35px 30px;
    border-radius: 5px;
}

#sec_jumbo_form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}
#sec_jumbo_form form input:focus {
    border: 1px solid #1575FF;
    border-radius: 5px;
}
:focus {
    outline: 0;
}

#sec_jumbo_form form input::placeholder{
    font-size: 18px;
    font-weight: 300;
    color: rgba(3,27,78,.8)
}

#sec_jumbo_form form p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(3,27,78);
    padding-bottom: 30px;
}

#sec_jumbo_form form button {
    padding: 15px 0px;
    background-color: #1575FF;
    color: white;
    font-weight: bold;
    border: 0;
}
#sec_jumbo_form form button:hover{
    background-color: rgba(3,27,78,.7);
    transition-duration: 0.7s;
}

#sec_jumbo_form form .signup {
    font-size: 16px;
    color: #5b6987;
    padding: 20px 0;
}

#sec_jumbo_form form .social_btn img{
    width: 20px;
    margin-right: 20px;
}

#sec_jumbo_form form .social_btn {
    padding: 10px;
    border: 1px solid rgba(21,117,255, .2);
    border-radius: 5px;
    color: rgb(3,27,78);
    background-color: rgba(21,117,255, .05);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#sec_jumbo_form form .social_btn:hover {
    background-color: rgba(21,117,255, .15);
}

#sec_jumbo_form form #terms_of_service {
    padding-top: 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
    #sec_jumbo_form {
        padding-top: 250px;
    }
    .jumbo h1 {
        font-size: 65px;
    }
}

@media screen and (min-width: 720px) and (max-width: 991px) {
    #sec_jumbo_form form {
        width: 70%;
        margin: 0 15%;
    }
}

#loghi {
    padding: 50px 15px;
    background-color: rgb(243,245,249);
}
#loghi span {
    object-fit: contain;
    height: 75px;
}

#loghi span:last-of-type img {
    height: 75%;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    #loghi span {
        height: 130px;
    }
    #loghi span:last-of-type img {
        height: 50%;
        margin-top: 34px;
    }
}


#loghi img {
    width: 100%;
    height: 100%;
}

#loghi h3 {
    padding-bottom: 20px;
    font-size: 21px;
    font-weight: bold;
    color: rgba(3,27,78,.7);
    letter-spacing: .8px;
}

#loghi p {
    color: #1575FF;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

#vertical_menu h2 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(3, 27, 78);
}

#vertical_menu .sottotitolo {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    line-height: 30px;
    padding-top: 10px;
}

#vertical_menu .container .row:first-child {
    margin-bottom: 50px;
}
#vertical_menu ul li{
    padding: 17px 10px 17px 30px;
    border-left: 2px solid lightgrey;
}

#vertical_menu ul li a {
    font-size: 18px;
    font-weight: bold;
    color: rgba(3,27,78,.5);
    line-height: 17px;
}

#vertical_menu ul li:nth-child(3) a{
    color: rgb(3, 27, 78);
}

#vertical_menu ul li:nth-child(3) {
    border-left: 2px solid #1575FF;
}

/* #vertical_menu ul li:hover #vertical_menu ul li a{
    color: rgba(3,27,78,.5);
} */

#vertical_menu .riquadro img {
    width: 60px;
}

#vertical_menu .riquadro h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(3, 27, 78);
}

#vertical_menu .riquadro p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(3, 27, 78,.7);
}

#vertical_menu ul {
    float: left;
}

#vertical_menu .riquadro {
    float: left;
}

#vertical_menu .riquadro_2 {
    margin-bottom: 100px;
}

@media (max-width: 992px) {
    #vertical_menu .riquadro_2 {
        margin-bottom: 50px;
    }

    #vertical_menu ul {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    #vertical_menu ul {
        padding-left: 10px;
    }

    #vertical_menu .riquadro {
        margin-bottom: 15px;
        text-align: center;
    }
}
