body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}
.navbar {
    background-color: white;
}

.top_nav {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top_nav_left, .top_nav_right {
    padding: 15px;
    color: rgb(91, 105, 135);
    font-weight: bold;
    float: left;
}

.top_nav_left {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* #covid {
    display: none;
} */

.top_nav_left p {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    /* overflow: hidden;*/
    text-overflow: ellipsis;
}

.top_nav_left p:hover, .bottom_nav .links a:hover {
    color: #1575FF;
    transition-duration: .4s;
}

/* @media screen and (max-width: 580px) {
    .top_nav_left p{
        display: none;
    }
    #covid{
        display: inline-block;
    }
} */
.top_nav_left span {
    background-color: #00D7D2;
    padding: 5px 10px;
    border-radius: 3px;
}

.top_nav_right {
    float: right;
}

.top_nav_right a, .bottom_nav .links a {
    text-decoration: none;
    padding-right: 10px;
    color: inherit;
}

.bottom_nav {
    border-top: 1px solid rgba(91, 105, 135, .3);
    height: 70px;
    padding: 20px 10px;
}

.bottom_nav img {
    width: 180px;
}

.bottom_nav .links {
    display: inline-block;
    padding-left: 50px;
}

.bottom_nav .links a {
    font-size: 14px;
    padding-right: 30px;
    color: rgb(3,27,78);
    font-weight: bold;
}

.bottom_nav button {
    float: right;
    background-color: white;
    color: #1575FF;
    border: 1px solid #1575FF;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 25px;
}
.bottom_nav button:hover {
    background-color: #1575FF;
    color: white;
    transition-duration: .7s;
}

#sec_jumbo_form {
    padding: 150px 50px;
    background-color: blue;
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 200px;
    position: absolute;
    top: 70px;
    left: 20px;
}
#burger {
    width: 50px;
    position: absolute;
    top: 70px;
    right: 20px;
    color: white;
    cursor: pointer;
}
#logo img, #burger img {
    width: 100%;
}

.jumbo {
    margin-bottom: 50px;
    padding-top: 125px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .jumbo {
        padding-top: 50px;
    }
    .jumbo h1 {
        font-size: 65px;
    }
}
@media (max-width: 991px) {
    #sec_jumbo_form {
        padding-top: 30px;
    }
}
.jumbo h1 {
    font-size: 52px;
    font-weight: bold;
    color: white;
}

.jumbo p {
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
    line-height: 1.3;
}

#sec_jumbo_form form {
    background-color: white;
    padding: 35px 30px;
    border-radius: 5px;
}

#sec_jumbo_form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}
#sec_jumbo_form form input:focus {
    border: 1px solid #1575FF;
    border-radius: 5px;
}
:focus {
    outline: 0;
}

#sec_jumbo_form form input::placeholder{
    font-size: 18px;
    font-weight: 300;
    color: rgba(3,27,78,.8)
}

#sec_jumbo_form form p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(3,27,78);
    padding-bottom: 30px;
}

#sec_jumbo_form form button {
    padding: 15px 0px;
    background-color: #1575FF;
    color: white;
    font-weight: bold;
    border: 0;
}
#sec_jumbo_form form button:hover{
    background-color: rgba(3,27,78,.7);
    transition-duration: 0.7s;
}

#sec_jumbo_form form .signup {
    font-size: 16px;
    color: #5b6987;
    padding: 20px 0;
}

#sec_jumbo_form form .social_btn img{
    width: 20px;
    margin-right: 20px;
}

#sec_jumbo_form form .social_btn {
    padding: 10px;
    border: 1px solid rgba(21,117,255, .2);
    border-radius: 5px;
    color: rgb(3,27,78);
    background-color: rgba(21,117,255, .05);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#sec_jumbo_form form .social_btn:hover {
    background-color: rgba(21,117,255, .15);
}

#sec_jumbo_form form #terms_of_service {
    padding-top: 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
    #sec_jumbo_form {
        padding-top: 250px;
    }
    .jumbo h1 {
        font-size: 65px;
    }
}

@media screen and (min-width: 720px) and (max-width: 991px) {
    #sec_jumbo_form form {
        width: 70%;
        margin: 0 15%;
    }
}

#loghi {
    padding: 50px 15px;
    background-color: rgb(243,245,249);
}
#loghi span {
    object-fit: contain;
    height: 75px;
}

#loghi span:last-of-type img {
    height: 75%;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    #loghi span {
        height: 130px;
    }
    #loghi span:last-of-type img {
        height: 50%;
        margin-top: 34px;
    }
}


#loghi img {
    width: 100%;
    height: 100%;
}

#loghi h3 {
    padding-bottom: 20px;
    font-size: 21px;
    font-weight: bold;
    color: rgba(3,27,78,.7);
    letter-spacing: .8px;
}

#loghi p {
    color: #1575FF;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

#vertical_menu h2, #gallery h3, #business h3, #teams h3 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(3, 27, 78);
}

.sottotitolo {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    line-height: 30px;
    padding-top: 10px;
}

#vertical_menu .container .row:first-child {
    margin-bottom: 50px;
}
#vertical_menu ul li{
    padding: 17px 10px 17px 30px;
    border-left: 2px solid lightgrey;
}

#vertical_menu ul li a {
    font-size: 18px;
    color: rgba(3,27,78,.5);
    line-height: 17px;
}

#vertical_menu ul li:nth-child(3) a{
    color: rgb(3, 27, 78);
}

#vertical_menu ul li:nth-child(3) {
    border-left: 2px solid #1575FF;
}

#vertical_menu ul li:hover a{
    color: rgb(3, 27, 78);
    transition-duration: .7s;
}


#vertical_menu .riquadro img {
    width: 60px;
}

#vertical_menu .riquadro h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(3, 27, 78);
}

#vertical_menu .riquadro p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(3, 27, 78,.7);
}

#vertical_menu ul {
    float: left;
}

#vertical_menu .riquadro {
    float: left;
}

#vertical_menu .riquadro_2 {
    margin-bottom: 100px;
}

@media (max-width: 992px) {
    #vertical_menu .riquadro_2 {
        margin-bottom: 50px;
    }

    #vertical_menu ul {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    #vertical_menu ul {
        padding-left: 10px;
    }

    #vertical_menu .riquadro {
        margin-bottom: 15px;
        text-align: center;
    }
}

#gallery, #teams {
    background-color: rgb(243,245,249);
    padding: 50px 0;
}

.row_relative {
    position: relative;
    padding: 10px 0;
}

#gallery span, #teams span {
    font-size: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
}

#gallery span:nth-of-type(1), #teams span:nth-of-type(1) {
    color: rgba(3, 27, 78, 0.5);
}

#gallery span:nth-of-type(2), #teams span:nth-of-type(2) {
    color: rgba(3, 27, 78, 1);
    right: 0;
}

#gallery span:nth-of-type(2):hover, #teams span:nth-of-type(2):hover {
    color: #1575FF;
}

.wrap_img img {
    width: 100%;
    cursor: grab;
}

#gallery .img_caption {
    font-size: 16px;
    line-height: 27px;
    padding-top: 15px;
    color: rgba(3,27,78,.7);
    letter-spacing: .8px;
}

.dots i:first-of-type {
    font-weight: bold;
}

.dots i {
    color: #1575FF;
    font-size: 15px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

#business {
    padding: 50px 0;
}

#business h3{
    margin-bottom: 50px;
}

#business h4 {
    color: rgba(3, 27, 78, 1);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#business p {
    color: rgba(3, 27, 78, 0.7);
    font-size: 16px;
    line-height: 27px;
}

#business .row:nth-of-type(2) div {
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    #business .row:nth-of-type(2) div {
        text-align: center;
    }
}

#business a {
    text-decoration: none;
    color: #1575FF;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .8px;
    text-align: left;
}

#data_centers {
    background: rgba(3, 27, 78, 1) url('https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg');
    background-size: cover;
    padding-bottom: 50px;
}

#data_centers h3 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding: 50px;
    letter-spacing: -.9px;
}

#data_centers span p{
    color: white;
    margin-bottom: 0;
}

#data_centers span {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#data_centers .bimbo_speciale {
    border-bottom: 0;
}
#data_centers span .dc_code {
    font-weight: bold;
    font-size: 15px;
}

#data_centers span .dc_city {
    color: rgba(255, 255, 255, 0.5);
}

#data_centers span a p{
    color: #00d7d2;
    font-weight: bold;
}

#data_centers span a p:hover {
    color: rgb(0,95,206);
}
#data_centers .row:nth-of-type(2) div:nth-of-type(1) {
    padding-bottom: 50px;
}

#teams .row_relative div {
    background-color: white;
    cursor: grab;
    padding: 50px 0;
}
#teams .row_relative div img {
    margin-bottom: 30px;
}
#teams .row_relative div p:nth-of-type(1) {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(3, 27, 78, .7);
    padding: 15px;
}
#teams .row_relative div p:nth-of-type(2) {
    font-size: 18px;
    line-height: 25px;
    color: rgba(0,0,0,.7);
}

#teams .row_relative div a {
    font-size: 16px;
    font-weight: bold;
    color: #1575FF;
    padding: 10px;
}

@media (min-width: 768px) {
    #teams .container, #gallery .container{
        width: 60%;
        margin: auto;
    }
}

#get_started {
    padding: 50px 0;
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#get_started span {
    font-size: 33px;
    font-weight: bold;
    color: white;
}

#get_started a {
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    border-radius: 5px;
    background-color: white;
    color: #1575FF;
}

 #get_started a:hover {
    background-color: rgba(3, 27, 78, .8);
    color: white;
    transition-duration: .7s;
 }

 #get_started .row div:hover {
     transform: scale(1.5);
     transition-duration: .7s;
 }

#get_started .get_started_btn {
    margin-top: 40px;
}

footer {
    background-color: rgba(3, 27, 78, 1);
    padding: 50px 0;
}

footer li {
    margin-bottom: 10px;
}

footer h5 {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

footer li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

footer li a:hover {
    color: white;
    transition-duration: .5s;
}

footer span, footer p {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
}

footer img {
    width: 60px;
    margin-right: 20px;
}

footer span:nth-of-type(2) {
    text-align: right;
    line-height: 60px;
    font-size: 23px;
}

footer span:nth-of-type(2) i {
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
}

footer span:nth-of-type(2) i:hover {
    color: white;
    transition-duration: .4s;
    transform: scale(1.3);
}

@media (max-width: 992px) {
    footer span:nth-of-type(1) {
        text-align: center;
    }
}
